<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/welcome.jsf" access="ROLE_USER" />
		<form-login login-page="/login.jsf" default-target-url="/welcome.jsf"
			authentication-failure-url="/login.jsf?status=error" />
		<logout logout-success-url="/login.jsf?status=logout" />

		<session-management>
			<concurrency-control expired-url="/login.jsf"/>
		</session-management>
	</http>

	<authentication-manager>
		<authentication-provider>
		<!--<authentication-provider user-service-ref="userDAO">-->
			<jdbc-user-service data-source-ref="ds"
							   users-by-username-query="select login, pwd, enabled from users where login = ?"
				authorities-by-username-query="select u.login, r.roles from users u, user_roles r where u.userId = r.userId and u.login = ? " />
			<password-encoder ref="encoder"/>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder"
				class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	</beans:bean>

	<beans:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="org.postgresql.Driver" />
		<beans:property name="url" value="jdbc:postgresql://localhost:5432/dbusiness" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" />
	</beans:bean>

</beans:beans>